<div class="tu-footer">
  <section class="topfooter tu-m-t-75 tu-m-t-sm-35 ">
    <div class="uk-container tu-p-v-30 tu-p-v-sm-10">
      <div class="tu-p-t-30">
        <div class="uk-grid uk-grid-smalls uk-child-width-1-6@m uk-grid-matchs uk-margin">
          <div class="uk-width-expand tu-p-b-sm-30">
            <div class="uk-text-left">
              <a routerLink="/" class="tu-mxw-100">
                <img src="assets/image/prompaylogo.gif" class="tu-mxw-100" />
              </a>
              <p class="tu-paragraph">Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Illo amet eligendi ipsa dolor recusandae
                repellendus? Rerum illo hic vero
              </p>
              <div class="">
                <button type="button" class="uk-text-center uk-text-white " mat-icon-button>
                  <mat-icon style="font-size: 18px; color: #1654f0;" fontSet="fa" fontIcon="fa-facebook">
                  </mat-icon>
                </button>
                <button type="button" class="tu-m-r-5 uk-text-center uk-text-white " mat-icon-button>
                  <mat-icon style="font-size: 18px; color: #1654f0;" fontSet="fa" fontIcon="fa-twitter"></mat-icon>
                </button>
                <button type="button" class="tu-m-r-5 uk-text-center uk-text-white " mat-icon-button>
                  <mat-icon style="font-size: 18px; color: #1654f0;" fontSet="fa" fontIcon="fa-linkedin"></mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="">
            <div class="">
              <h3 class="tu-headline-small tu-bolder">About</h3>
              <ul class="uk-list tu-font-size-16">
                <li><a routerLink="/about">About Us</a></li>
                <li><a routerLink="/bags">Bags</a></li>
                <li><a routerLink="/apparel/outwear">Outerwear</a></li>
                <li><a routerLink="/apparel/wooven-shirts">Woven shirt</a></li>
                <li><a routerLink="/apparel/fleece">fleece</a></li>
                <li><a routerLink="/contact">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="">
            <div class="">
              <h3 class="tu-headline-small tu-bolder">Useful Links</h3>
              <ul class="uk-list tu-font-size-16">
                <li><a routerLink="/promotional/technology">Technology</a></li>
                <li><a routerLink="/promotional/drinkware">Drinkware</a></li>
                <li><a routerLink="/apparel/tshirt">T-shirt</a></li>
                <li><a routerLink="/apparel/sports-shirts">Sport shirts</a></li>
              </ul>
            </div>
          </div>
          <div class="">
            <div class="">
              <h3 class="tu-headline-small tu-bolder">Support</h3>
              <ul class="uk-list tu-font-size-16">
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Download</a></li>
                <li><a href="#">Feedback</a></li>
                <li><a href="#">Rating</a></li>
                <li><a href="#">Report</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bottomfooter">
    <div class="uk-container">
      <div class="uk-text-center tu-p-v-20 tu-p-v-sm-15 tu-font-size-14">
        &#169;&nbsp;Copy right Test 2020. All rights reserved.
      </div>
    </div>
  </section>
</div>
