<div class="tu-bags">
  <section class="tu-p-t-40 tu-p-t-sm-20">
    <div class="uk-container">
      <div class="uk-text-center">
        <h1 class="tu-headline-large tu-bolder tu-m-b-0">Sports shirt<br></h1>
        <div class="tu-m-t-10 tu-headline-animate-line"></div>
        <p class="tu-m-t-8 tu-font-size-16"><i> Basic
          </i></p>
      </div>
    </div>
  </section>
  <section class="tu-p-v-40 tu-p-v-sm-20">
    <div class="uk-container">
      <div class="uk-grid uk-grid-smalls uk-child-width-1-2@m uk-grid-matchs uk-margin">
        <div class="uk-width-1-1@l uk-width-1-4@l">
          <mat-accordion>
            <mat-expansion-panel hideToggle>
            </mat-expansion-panel>
            <mat-expansion-panel class="tu-m-t-0 tu-p-v-10" (opened)="panelOpenState = true"
              (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title class="tu-headline-small">
                  FABRIC
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div>
                <mat-checkbox class="example-margin">Blend</mat-checkbox>
              </div>
              <div>
                <mat-checkbox class="example-margin">Cotton</mat-checkbox>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle>
            </mat-expansion-panel>
            <mat-expansion-panel class="tu-m-t-0 tu-p-v-10" (opened)="panelOpenState = true"
              (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title class="tu-headline-small">
                  RECOMMENDED FOR
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div>
                <mat-checkbox class="example-margin">Print</mat-checkbox>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle>
            </mat-expansion-panel>
            <mat-expansion-panel class="tu-m-t-0 tu-p-v-10" (opened)="panelOpenState = true"
              (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title class="tu-headline-small">
                  SERVICE LEVEL
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div>
                <mat-checkbox class="example-margin">Hot Rush</mat-checkbox>
              </div>
              <div>
                <mat-checkbox class="example-margin">Rush</mat-checkbox>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div class="tu-p-t-md-40 tu-p-t-sm-40 uk-width-1-1@l uk-width-3-4@l">
          <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
            <div class="uk-text-center">
              <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <img src="assets/image/tshirt/ATC-ACTIVE-COTTON-LADIES-CREW.-LT100-black.jpg" />
                <h3 class="uk-card-title tu-headline-small">Non Woven Custom Tote Bags - 16"w x 12"h x 6"d</h3>
                <p class="tu-paragraph-small">WOVEN DRAWSTRING KNAPSACK. STYLE: NW4190</p>
                <div>
                  <button color="primary" mat-flat-button>VIEW ITEM</button>
                </div>
              </div>
            </div>
            <div class="uk-text-center">
              <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <img src="assets/image/tshirt/ATC-ACTIVE-COTTON-LADIES-CREW.-LT100-charcoal.jpg" />
                <h3 class="uk-card-title tu-headline-small">Non Woven Custom Tote Bags - 16"w x 12"h x 6"d</h3>
                <p class="tu-paragraph-small">WOVEN DRAWSTRING KNAPSACK. STYLE: NW4190</p>
                <div>
                  <button color="primary" mat-flat-button>VIEW ITEM</button>
                </div>
              </div>
            </div>
            <div class="uk-text-center">
              <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <img src="assets/image/tshirt/ATC-ACTIVE-COTTON-LADIES-CREW.-LT100-classic-navy.jpg" />
                <h3 class="uk-card-title tu-headline-small">Non Woven Custom Tote Bags - 16"w x 12"h x 6"d</h3>
                <p class="tu-paragraph-small">WOVEN DRAWSTRING KNAPSACK. STYLE: NW4190</p>
                <div>
                  <button color="primary" mat-flat-button>VIEW ITEM</button>
                </div>
              </div>
            </div>
            <div class="uk-text-center">
              <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <img src="assets/image/tshirt/ATC-ACTIVE-COTTON-LADIES-CREW.-LT100-island-green.jpg" />
                <h3 class="uk-card-title tu-headline-small">Non Woven Custom Tote Bags - 16"w x 12"h x 6"d</h3>
                <p class="tu-paragraph-small">WOVEN DRAWSTRING KNAPSACK. STYLE: NW4190</p>
                <div>
                  <button color="primary" mat-flat-button>VIEW ITEM</button>
                </div>
              </div>
            </div>
            <div class="uk-text-center">
              <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <img src="assets/image/tshirt/ATC-ACTIVE-COTTON-LADIES-CREW.-LT100-powder-blue.jpg" />
                <h3 class="uk-card-title tu-headline-small">Non Woven Custom Tote Bags - 16"w x 12"h x 6"d</h3>
                <p class="tu-paragraph-small">WOVEN DRAWSTRING KNAPSACK. STYLE: NW4190</p>
                <div>
                  <button color="primary" mat-flat-button>VIEW ITEM</button>
                </div>
              </div>
            </div>
            <div class="uk-text-center">
              <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <img src="assets/image/tshirt/ATC-ACTIVE-COTTON-LADIES-CREW.-LT100-scarlet-red.jpg" />
                <h3 class="uk-card-title tu-headline-small">Non Woven Custom Tote Bags - 16"w x 12"h x 6"d</h3>
                <p class="tu-paragraph-small">WOVEN DRAWSTRING KNAPSACK. STYLE: NW4190</p>
                <div>
                  <button color="primary" mat-flat-button>VIEW ITEM</button>
                </div>
              </div>
            </div>
            <div class="uk-text-center">
              <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <img src="assets/image/tshirt/ATC-ACTIVE-COTTON-LADIES-CREW.-LT100-black.jpg" />
                <h3 class="uk-card-title tu-headline-small">Non Woven Custom Tote Bags - 16"w x 12"h x 6"d</h3>
                <p class="tu-paragraph-small">WOVEN DRAWSTRING KNAPSACK. STYLE: NW4190</p>
                <div>
                  <button color="primary" mat-flat-button>VIEW ITEM</button>
                </div>
              </div>
            </div>
            <div class="uk-text-center">
              <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <img src="assets/image/tshirt/ATC-ACTIVE-COTTON-LADIES-CREW.-LT100-charcoal.jpg" />
                <h3 class="uk-card-title tu-headline-small">Non Woven Custom Tote Bags - 16"w x 12"h x 6"d</h3>
                <p class="tu-paragraph-small">WOVEN DRAWSTRING KNAPSACK. STYLE: NW4190</p>
                <div>
                  <button color="primary" mat-flat-button>VIEW ITEM</button>
                </div>
              </div>
            </div>
            <div class="uk-text-center">
              <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <img src="assets/image/tshirt/ATC-ACTIVE-COTTON-LADIES-CREW.-LT100-classic-navy.jpg" />
                <h3 class="uk-card-title tu-headline-small">Non Woven Custom Tote Bags - 16"w x 12"h x 6"d</h3>
                <p class="tu-paragraph-small">WOVEN DRAWSTRING KNAPSACK. STYLE: NW4190</p>
                <div>
                  <button color="primary" mat-flat-button>VIEW ITEM</button>
                </div>
              </div>
            </div>
            <div class="uk-text-center">
              <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <img src="assets/image/tshirt/ATC-ACTIVE-COTTON-LADIES-CREW.-LT100-island-green.jpg" />
                <h3 class="uk-card-title tu-headline-small">Non Woven Custom Tote Bags - 16"w x 12"h x 6"d</h3>
                <p class="tu-paragraph-small">WOVEN DRAWSTRING KNAPSACK. STYLE: NW4190</p>
                <div>
                  <button color="primary" mat-flat-button>VIEW ITEM</button>
                </div>
              </div>
            </div>
            <div class="uk-text-center">
              <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <img src="assets/image/tshirt/ATC-ACTIVE-COTTON-LADIES-CREW.-LT100-powder-blue.jpg" />
                <h3 class="uk-card-title tu-headline-small">Non Woven Custom Tote Bags - 16"w x 12"h x 6"d</h3>
                <p class="tu-paragraph-small">WOVEN DRAWSTRING KNAPSACK. STYLE: NW4190</p>
                <div>
                  <button color="primary" mat-flat-button>VIEW ITEM</button>
                </div>
              </div>
            </div>
            <div class="uk-text-center">
              <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <img src="assets/image/tshirt/ATC-ACTIVE-COTTON-LADIES-CREW.-LT100-scarlet-red.jpg" />
                <h3 class="uk-card-title tu-headline-small">Non Woven Custom Tote Bags - 16"w x 12"h x 6"d</h3>
                <p class="tu-paragraph-small">WOVEN DRAWSTRING KNAPSACK. STYLE: NW4190</p>
                <div>
                  <button color="primary" mat-flat-button>VIEW ITEM</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
