<div class="tu-homepage">
  <section>
    <img style="height: 100vh; width: 100vw;" src="assets/image/pexels-tembela-bohle-1884581.jpg" />
  </section>
  <section class="features tu-p-v-30 tu-headline-line">
    <div class="uk-container tu-p-t-30">
      <div class="uk-grid uk-grid-smalls uk-child-width-1-2@m uk-grid-matchs uk-margin">
        <div class="tu-p-b-sm-20 uk-text-center uk-text-left@s tu-p-t-100 tu-p-t-sm-0">
          <h2 class="tu-font-size-28 tu-bolder">Our Features<br></h2>
          <p class="tu-font-size-14">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ut
            et rem quaerat adipisci earum, qui sunt, id quas deserunt a nam perspiciatis eum iure! Sed sint dolores quam
            provident? </p>
          <button class="tu-font-size-14 tu-p-h-20" color="primary" mat-raised-button type="button">Read More</button>
        </div>
        <div class="">
          <div class="uk-child-width-expand@s uk-text-center" uk-grid="parallax: 150">
            <div>
              <div class="uk-card tu-m-h-sm-60 uk-card-default uk-card-hover uk-card-body tu-p-30">
                <div class="uk-card-title uk-text-center">
                  <i class="dark-blue fa fa-tasks"></i>
                </div>
                <div class="uk-card-title">
                  <h3 class="tu-font-size-14 uk-text-center uk-margin-remove tu-bolder">lorem ipsum </h3>
                </div>
                <p class="tu-font-size-14 uk-text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
              </div>
              <div class="uk-card tu-m-h-sm-60 uk-card-default uk-card-hover uk-card-body tu-m-t-20 tu-p-30">
                <div class="uk-card-title uk-text-center">
                  <i class="light-blue fa fa-tasks"></i>
                </div>
                <div class="uk-card-title">
                  <h3 class="tu-font-size-14 uk-text-center uk-margin-remove tu-bolder">lorem ipsum</h3>
                </div>
                <p class="tu-font-size-14 uk-text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
              </div>
            </div>
            <div class="tu-p-0 tu-m-l-20">
              <div class="uk-card tu-m-h-sm-60 uk-card-default uk-card-hover uk-card-body tu-p-30">
                <div class="uk-card-title uk-text-center">
                  <i class="dark-blue fa fa-tasks"></i>
                </div>
                <div class="uk-card-title">
                  <h3 class="tu-font-size-14 uk-text-center uk-margin-remove tu-bolder">lorem ipsum</h3>
                </div>
                <p class="tu-font-size-14 uk-text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
              </div>
              <div class="uk-card tu-m-h-sm-60 uk-card-default uk-card-hover uk-card-body tu-m-t-20 tu-p-30">
                <div class="uk-card-title uk-text-center">
                  <i class="light-blue fa fa-tasks"></i>
                </div>
                <div class="uk-card-title">
                  <h3 class="tu-font-size-14 uk-text-center uk-margin-remove tu-bolder">lorem ipsum</h3>
                </div>
                <p class="tu-font-size-14 uk-text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="tu-team tu-p-v-75 tu-p-v-sm-35 ">
    <div class="uk-container">
      <div class="uk-grid uk-grid-smalls uk-child-width-1-4@m uk-grid-matchs uk-margin">
        <div class="uk-text-center uk-flex uk-flex-middle">
          <div>
            <h3 class="tu-headline tu-m-b-0">Team Members
            </h3>
            <h2 class="tu-headline-medium tu-m-t-0">Our Creators</h2>
          </div>
        </div>
        <div class="uk-text-center tu-p-l-0">
          <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
            <img src="assets/image/carmel.png" alt="">
            <div class="uk-transition-fade uk-position-cover  uk-overlay-default">
              <div class="uk-position-center  uk-text-center">
                <div class="uk-transition-slide-top-small">
                  <h4 class="uk-margin-remove tu-p-b-8 tu-font-size-16">UI Designer
                  </h4>
                  <h3 class="uk-text-uppercase uk-margin-remove tu-p-b-8 tu-font-size-18">
                    Jhon Louis
                  </h3>
                </div>
                <div class="uk-transition-slide-bottom-small">
                  <a href="#" uk-icon="icon: facebook;" class="uk-icon-button tu-m-r-10 uk-icon tu-social-icon"></a>
                  <a href="#" uk-icon="icon: twitter;" class="uk-icon-button tu-m-r-10 uk-icon tu-social-icon"></a>
                  <a href="#" uk-icon="icon: linkedin;" class="uk-icon-button tu-m-r-10 uk-icon tu-social-icon"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-text-center tu-p-l-0">
          <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
            <img src="assets/image/john.png" alt="">
            <div class="uk-transition-fade uk-position-cover  uk-overlay-default">
              <div class="uk-position-center  uk-text-center">
                <div class="uk-transition-slide-top-small">
                  <h4 class="uk-margin-remove tu-p-b-8 tu-font-size-16">UI Designer
                  </h4>
                  <h3 class="uk-text-uppercase uk-margin-remove tu-p-b-8 tu-font-size-18">
                    Jhon Louis
                  </h3>
                </div>
                <div class="uk-transition-slide-bottom-small">
                  <a href="#" uk-icon="icon: facebook;" class="uk-icon-button tu-m-r-10 uk-icon tu-social-icon"></a>
                  <a href="#" uk-icon="icon: twitter;" class="uk-icon-button tu-m-r-10 uk-icon tu-social-icon"></a>
                  <a href="#" uk-icon="icon: linkedin;" class="uk-icon-button tu-m-r-10 uk-icon tu-social-icon"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-text-center tu-p-l-0">
          <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
            <img src="assets/image/selena.png" alt="">
            <div class="uk-transition-fade uk-position-cover  uk-overlay-default">
              <div class="uk-position-center  uk-text-center">
                <div class="uk-transition-slide-top-small">
                  <h4 class="uk-margin-remove tu-p-b-8 tu-font-size-16">UI Designer
                  </h4>
                  <h3 class="uk-text-uppercase uk-margin-remove tu-p-b-8 tu-font-size-18">
                    Jhon Louis
                  </h3>
                </div>
                <div class="uk-transition-slide-bottom-small">
                  <a href="#" uk-icon="icon: facebook;" class="uk-icon-button tu-m-r-10 uk-icon tu-social-icon"></a>
                  <a href="#" uk-icon="icon: twitter;" class="uk-icon-button tu-m-r-10 uk-icon tu-social-icon"></a>
                  <a href="#" uk-icon="icon: linkedin;" class="uk-icon-button tu-m-r-10 uk-icon tu-social-icon"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-text-center tu-p-l-0">
          <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
            <img src="assets/image/zain.png" alt="">
            <div class="uk-transition-fade uk-position-cover  uk-overlay-default">
              <div class="uk-position-center  uk-text-center">
                <div class="uk-transition-slide-top-small">
                  <h4 class="uk-margin-remove tu-p-b-8 tu-font-size-16">UI Designer
                  </h4>
                  <h3 class="uk-text-uppercase uk-margin-remove tu-p-b-8 tu-font-size-18">
                    Jhon Louis
                  </h3>
                </div>
                <div class="uk-transition-slide-bottom-small">
                  <a href="#" uk-icon="icon: facebook;" class="uk-icon-button tu-m-r-10 uk-icon tu-social-icon"></a>
                  <a href="#" uk-icon="icon: twitter;" class="uk-icon-button tu-m-r-10 uk-icon tu-social-icon"></a>
                  <a href="#" uk-icon="icon: linkedin;" class="uk-icon-button tu-m-r-10 uk-icon tu-social-icon"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-text-center tu-p-l-0">
          <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
            <img src="assets/image/john.png" alt="">
            <div class="uk-transition-fade uk-position-cover  uk-overlay-default">
              <div class="uk-position-center  uk-text-center">
                <div class="uk-transition-slide-top-small">
                  <h4 class="uk-margin-remove tu-p-b-8 tu-font-size-16">UI Designer
                  </h4>
                  <h3 class="uk-text-uppercase uk-margin-remove tu-p-b-8 tu-font-size-18">
                    Jhon Louis
                  </h3>
                </div>
                <div class="uk-transition-slide-bottom-small">
                  <a href="#" uk-icon="icon: facebook;" class="uk-icon-button tu-m-r-10 uk-icon tu-social-icon"></a>
                  <a href="#" uk-icon="icon: twitter;" class="uk-icon-button tu-m-r-10 uk-icon tu-social-icon"></a>
                  <a href="#" uk-icon="icon: linkedin;" class="uk-icon-button tu-m-r-10 uk-icon tu-social-icon"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-text-center tu-p-l-0">
          <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
            <img src="assets/image/selena.png" alt="">
            <div class="uk-transition-fade uk-position-cover  uk-overlay-default">
              <div class="uk-position-center  uk-text-center">
                <div class="uk-transition-slide-top-small">
                  <h4 class="uk-margin-remove tu-p-b-8 tu-font-size-16">UI Designer
                  </h4>
                  <h3 class="uk-text-uppercase uk-margin-remove tu-p-b-8 tu-font-size-18">
                    Jhon Louis
                  </h3>
                </div>
                <div class="uk-transition-slide-bottom-small">
                  <a href="#" uk-icon="icon: facebook;" class="uk-icon-button tu-m-r-10 uk-icon tu-social-icon"></a>
                  <a href="#" uk-icon="icon: twitter;" class="uk-icon-button tu-m-r-10 uk-icon tu-social-icon"></a>
                  <a href="#" uk-icon="icon: linkedin;" class="uk-icon-button tu-m-r-10 uk-icon tu-social-icon"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-text-center tu-p-l-0">
          <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
            <img src="assets/image/zain.png" alt="">
            <div class="uk-transition-fade uk-position-cover  uk-overlay-default">
              <div class="uk-position-center  uk-text-center">
                <div class="uk-transition-slide-top-small">
                  <h4 class="uk-margin-remove tu-p-b-8 tu-font-size-16">UI Designer
                  </h4>
                  <h3 class="uk-text-uppercase uk-margin-remove tu-p-b-8 tu-font-size-18">
                    Jhon Louis
                  </h3>
                </div>
                <div class="uk-transition-slide-bottom-small">
                  <a href="#" uk-icon="icon: facebook;" class="uk-icon-button tu-m-r-10 uk-icon tu-social-icon"></a>
                  <a href="#" uk-icon="icon: twitter;" class="uk-icon-button tu-m-r-10 uk-icon tu-social-icon"></a>
                  <a href="#" uk-icon="icon: linkedin;" class="uk-icon-button tu-m-r-10 uk-icon tu-social-icon"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
